@CHARSET "ISO-8859-1";
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: gray;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 8px 8px 8px 8px;
}

ul#menu li a:hover {
    background-color: orange;
}